<html>
<head>
<title>
<h2> Welcome to Real Estate World </h2>
</title>
</head>
<body>

  <h3> Your generated id  = <%=@id%> </h3><br>
      name =  <%= @name%><br>
      password =  <%= @password%><br>
	  
	   <h2> Please validate your account by clicking below link </h2>
	   link = <%= @link%>
	  </body>