<!DOCTYPE html>
<html>
<head>
<title>
<h2> Welcome to Real Estate World </h2>
</title>
</head>
<body>
	<h1> Welcome to Real Estate World </h1><br>
   <h3> Your generated id  = <%=@id%> </h3><br>
      Shop Name =  <%= @shopname%><br>
      Password =  <%= @password%><br>
	   
	    <h2> Please validate your account by clicking below link </h2>
	   link = <%= @link%>
	   </body>
	   </html>