<!DOCTYPE html>
<html>
	<head>
	<title> About us </title>
	
	
	
</head>

<body style="margin-top: 10px;margin-left: 20px">

<div class="row" style="height:600px; width:1000px;">
   <div class="span5" style="float:left;height:400px; width:450px;">
		<%= image_tag(@t[0][0], :width => 450, :height =>450) %>
		<br>
		<br>
		
	</div>
	
	
	<div class="span5" style="float:left;height:400px; width:500px;">
	
		<p><font color="#000000"><h2><%= @t[0][1]%></h2>
		</font></p>
	</div>
	
</div>
</body>
</html>















	

	
	
	
	