<html>
<head></head>
<body style="margin-top: 20px;margin-left: 20px">

 <%= debug($master_user_id)%>
                                                       
                                                       
                                                       <%= debug(@h_detail)%>
                                                       <%= debug(@c_detail)%>
                                                       <%= debug(@s_detail)%>
													  </body>
													  </html>